<%= name ||= 'Crear' %>
<h1><%= name %> articulo</h1>
<%= form_for(@article, html: {id: 'articles_form'}) do |f| %>
    <% @article.errors.full_messages.each do |message| %>
        <div class="alert alert-danger" role="alert">
          <i class="fa fa-exclamation-triangle"></i> <%= message %>
        </div>
    <% end %>
    <div class="form-group">
      <label for="exampleInputPassword1">Titulo</label>
      <%= f.text_field :title, placeholder: 'Titulo', class: 'form-control' %>
    </div>
    <div class="field">
      Portada: <%= f.file_field :cover %>
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Detalle</label>
      <%= f.hidden_field :body, id: 'body-textarea' %>
      <%= f.hidden_field :markup_body, id: 'markup-body-textarea' %>
      <div id="epiceditor" style="height:250px;"></div>
    </div>

    <div class="field">
      <label for="exampleInputPassword1">Categories</label>
      <% @categories.each do |category| %>
          <%= check_box_tag 'categories[]', category.id %> <%= category.name %>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.submit 'Guardar', class: 'btn btn-primary' %>
    </div>
<% end %>

<script>
  var editor = new EpicEditor({
    textarea: 'markup-body-text-area',
    file: {
      name: 'nuevo_articulo'
    }
  });

  editor.load();

  $('#articles_form').on('submit', function () {
    $('#body-textarea').val(editor.exportFile('nuevo_articulo', 'html'));
    $('#markup-body-textarea').val(editor.exportFile('nuevo_articulo'));
  })
</script>