<h1>Articulos</h1>
<div class="row">
  <% @articles.each do |article| %>
      <div class="col-md-4">
        <div class="box relative article-height">
          <div class="absolute article-height background-cover" style="background:url(<%= article.cover.url(:thumb) %>);top: 0px; left: 0px;width: 100%;">
          </div>
          <div class="absolute article-height background-cover" style="background:rgba(0,0,0,0.5);top: 0px; left: 0px;width: 100%;">
          </div>
          <div class="relative">
            <h2 class="text-center">
              <%= link_to article.title, article, class: 'fa fa-pencil-square-o', style: 'color: white;' %>
            </h2>
            <p class="text-center" style="color: white;">
              <%= link_to '', article, method: 'delete', class: 'fa fa-trash' %>
              <%= truncate(article.body, length: 20) %>
            </p>
          </div>
        </div>
      </div>
  <% end %>
</div>
<%= will_paginate @articles %>