<article>
  <%= article_cover @article.cover.url %>
  <h1><%= @article.title %></h1>
  <!--unless == if not-->
  <% unless @article.user.nil? %>
      <p>Escrito por: <%= @article.user.email %></p>
  <% end %>

  <% @article.categories.each do |category| %>
      <%= link_to category.name, category, class: 'label', style: "background-color: #{category.color}" %>
  <% end %>


  <div class="field">
    <%= image_tag @article.cover.url(:thumb) %>
  </div>

  <p>Visitas: <%= @article.visits_count %></p>
  <div>
    <%= Sanitize.fragment(@article.body.html_safe, Sanitize::Config::RELAXED) %>
  </div>

  <%= render 'articles/comments' %>
  <div>
    <%= link_to 'Editar', edit_article_path(@article) %>
  </div>
</article>
